<section>
    <h2>Our Menu</h2>
    <div class="menu">
        <div class="menu_1">
            <img src="./assets/img/r1.png">
            <div class="ingredients_1">
                <table>
                    <tr>
                        <th>Tonsaku Ramen</th>
                    </tr>
                    <tr>
                        <td>Chicken</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>Beef</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>Shrimp</td>
                        <td>13.95€</td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="menu_2">
            <img src="./assets/img/r2.png">
            <div class="ingredients_2">
                <table>
                    <tr>
                        <th>Tonsaku Ramen</th>
                    </tr>
                    <tr>
                        <td>Chicken</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>Beef</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>Shrimp</td>
                        <td>13.95€</td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="menu_3">
            <img src="./assets/img/r3.png">
            <div class="ingredients_3">
                <table>
                    <tr>
                        <th>Tonsaku Ramen</th>
                    </tr>
                    <tr>
                        <td>Chicken</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>Beef</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>Shrimp</td>
                        <td>13.95€</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</section>
